.pagina-centralizada {
    display: flex;
    justify-content: center;
    /* centraliza horizontalmente */
    align-items: center;
    /* centraliza verticalmente */
    height: 100vh;
    /* altura total da tela */
    padding: 1rem;
    background-color: var(--cor-secundaria);
    /* opcional, fundo claro */
    box-sizing: border-box;
}