/* src/components/Navbar/Navbar.css */
.navbar {
    background-color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: flex-start;
    /* todos à esquerda */
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    font-family: var(--font-familia);
    height: 60px;
    box-sizing: border-box;
}

.navbar-list {
    list-style-type: none;
    display: flex;
    gap: 30px;
    padding: 0;
    margin: 0;
    margin-left: 0;
    /* tira qualquer espaço extra à esquerda */
}



.navbar-item {
    font-size: 1.2rem;
}

.navbar-link {
    text-decoration: none;
    color: var(--cor-texto);
    font-weight: 600;
    transition: color 0.3s, transform 0.2s;
    padding: 0.5rem 1.2rem;
    border-radius: 20px;
}

.navbar-link:hover {
    color: var(--cor-primaria);
    transform: scale(1.05);
}

.navbar-logo {
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--cor-primaria);
    text-decoration: none;
    display: flex;
    align-items: center;
}

.navbar-logo:hover {
    color: var(--cor-primaria-hover);
}

.logo-image {
    width: 50px;
    height: auto;
    cursor: pointer;
    display: inline-block;
    margin-right: 15px;
}