.navbar {
  background-color: #0077b6;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(189, 0, 0);
}

.navbar-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-list {
  display: flex;
  list-style: none;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.navbar-list a {
  background-color: white;
  color: #0077b6;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.navbar-list a:hover {
  background-color: #e0e0e0;
}
