/* Resetando algumas propriedades básicas */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Corpo do layout */
body {
  font-family: 'Helvetica', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

/* Header - Menus e Título */
header {
  background-color: #003580;
  padding: 20px 0;
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

header h1 {
  margin: 0;
}

/* Seções de Despesas */
h2 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 1rem;
}

/* Cards das Viagens */
.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

/* Título da Viagem */
.card h3 {
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 600;
  color: #003580;
  margin-bottom: 1rem;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

/* Listagem de Despesas */
.despesas-lista {
  margin-top: 20px;
  padding-left: 20px;
}

.despesas-lista li {
  font-size: 1rem;
  margin-bottom: 10px;
}

.despesas-lista button {
  margin-left: 10px;
}

/* Estilo dos botões */
button {
  background-color: #003580;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #005bb5;
}

/* Formulários de Despesas */
input[type="text"], input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

input[type="text"]:focus, input[type="number"]:focus {
  outline: none;
  border-color: #003580;
}

button:disabled {
  background-color: #bbb;
  cursor: not-allowed;
}
